################################################################################
##                                                                             #
## Copyright 2016 myStorm Copyright and related                                #
## rights are licensed under the Solderpad Hardware License, Version 0.51      #
## (the “License”); you may not use this file except in compliance with        #
## the License. You may obtain a copy of the License at                        #
## http://solderpad.org/licenses/SHL-0.51. Unless required by applicable       #
## law or agreed to in writing, software, hardware and materials               #
## distributed under this License is distributed on an “AS IS” BASIS,          #
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or             #
## implied. See the License for the specific language governing                #
## permissions and limitations under the License.                              #
##                                                                             #
################################################################################
#
## User Constraint File for myStorm
#
## Onboard 100Mhz oscillator
set_io bf_clock 129
set_io extResetn 64

# USB UART
set_io tx  85
set_io rx  88

set_io armLEDnn     71 #LD4,!SS,p14_1
set_io triggerLEDnn 67 #LD3,MISO,p14_2
set_io dataReady    68 #LD2,MOSI,p14_3
#set_io             70 #LD1,SCL,p14_4
#
##pmod 1
#
#set_io PMOD[0] 94 # rd6
#set_io PMOD[1] 91 # rd4
#set_io PMOD[2] 88 # rd2
#set_io PMOD[3] 85 # rd0
#
##pmod 2
set_io extClockIn  95 # PMOD[4] # rd7
set_io extClockOut  93 # PMOD[5] # rd5
set_io extTriggerIn  90 # PMOD[6] # rd3
set_io extTriggerOut  87 # PMOD[7] # rd1
#
##pmod 3 GPIO
set_io indata[0] 105 # PMOD[8] # c5
set_io indata[1] 102 # PMOD[9] # c3
set_io indata[2] 99 # PMOD[10] # c1
set_io indata[3] 97 # PMOD[11] # i_tx
#
##pmod 4
set_io indata[4] 104 # PMOD[12] # c4
set_io indata[5] 101 # PMOD[13] # c2
set_io indata[6] 98 # PMOD[14] # c0
set_io indata[7] 96 # PMOD[15] # i_rx
#
##pmod 5 GPIO
set_io indata[8] 143 # PMOD[16] #g2
set_io indata[9] 114 # PMOD[17] #c11
set_io indata[10] 112 # PMOD[18] #c9
set_io indata[11] 107 # PMOD[19] #c7
#
##pmod 6 GPIO
set_io indata[12] 144 # PMOD[20] #G1
set_io indata[13] 113 # PMOD[21] #C10
set_io indata[14] 110 # PMOD[22] #C8
set_io indata[15] 106 # PMOD[23] #C6
#
##pmod 7 lvds pairs 2 & 5
set_io indata[16] 10 # PMOD[24] # 5b
set_io indata[17] 9 # PMOD[25] # 5a
set_io indata[18] 2 # PMOD[26] # 2b
set_io indata[19] 1 # PMOD[27] # 2a
#
##pmod 8 lvds pairs 3 & 4
set_io indata[20] 8 # PMOD[28] # 4b
set_io indata[21] 7 # PMOD[29] # 4a
set_io indata[22] 4 # PMOD[30] # 3b
set_io indata[23] 3 # PMOD[31] # 3a
#
##pmod 9 lvds pairs 10 & 13
set_io indata[24] 20 # PMOD[32] # 13b
set_io indata[25] 19 # PMOD[33] # 13a
set_io indata[26] 16 # PMOD[34] # 10b
set_io indata[27] 15 # PMOD[35] # 10a
#
##pmod 10 lvds pairs 8 & 12
set_io indata[28] 18 # PMOD[36] # 12b
set_io indata[29] 17 # PMOD[37] # 12a
set_io indata[30] 12 # PMOD[38] # 8b
set_io indata[31] 11 # PMOD[39] # 8a
#
##pmod 11 lvds pairs 14 & 25
#set_io test[0] 34 # 25b
#set_io test[1] 33 # 25a
#set_io test[2] 22 # 14B
#set_io test[3] 21 # 14a
#
##pmod 12 lvds pairs 18 & 24
#set_io test[4] 32 # 24b
#set_io test[5] 31 # 24a
#set_io test[6] 26 # 18b
#set_io test[7] 25 # 18a

##pmod 11 lvds pairs 14 & 25
#set_io PMOD[40] 34 # 25b
#set_io PMOD[41] 33 # 25a
#set_io PMOD[42] 22 # 14B
#set_io PMOD[43] 21 # 14a
#
##pmod 12 lvds pairs 18 & 24
#set_io PMOD[44] 32 # 24b
#set_io PMOD[45] 31 # 24a
#set_io PMOD[46] 26 # 18b
#set_io PMOD[47] 25 # 18a
#
##pmod 13 lvds pairs 17 & 23
#set_io PMOD[48] 29 # 23b
#set_io PMOD[49] 28 # 23a
#set_io PMOD[50] 24 # 17b
#set_io PMOD[51] 23 # 17a
#
#pmod 14 SPI muxed with leds
#set_io PMOD[52] 71 #LD4,!SS,p14_1
#set_io PMOD[53] 67 #LD3,MISO,p14_2
#set_io PMOD[54] 68 #LD2,MOSI,p14_3
#set_io PMOD[55] 70 #LD1,SCL,p14_4
#
# SRAM
#set_io ADR[0] 137
#set_io ADR[1] 138
#set_io ADR[2] 139
#set_io ADR[3] 141
#set_io ADR[4] 142
#set_io ADR[5] 42
#set_io ADR[6] 43
#set_io ADR[7] 44
#set_io ADR[8] 73
#set_io ADR[9] 74
#set_io ADR[10] 75
#set_io ADR[11] 76
#set_io ADR[12] 115
#set_io ADR[13] 116
#set_io ADR[14] 117
#set_io ADR[15] 118
#set_io ADR[16] 119
#set_io ADR[17] 78
#set_io ADR[18] 62

#set_io DAT[0] 135
#set_io DAT[1] 134
#set_io DAT[2] 130
#set_io DAT[3] 128
#set_io DAT[4] 125
#set_io DAT[5] 124
#set_io DAT[6] 122
#set_io DAT[7] 121
#set_io DAT[8] 61
#set_io DAT[9] 60
#set_io DAT[10] 56
#set_io DAT[11] 55
#set_io DAT[12] 52
#set_io DAT[13] 49
#set_io DAT[14] 48
#set_io DAT[15] 47

#set_io RAMOE 45
#set_io RAMWE 120
#set_io RAMCS 136

